* {
    margin: 0;
    padding: 0;
}

.titles {
    margin-right: 200px;
    margin-top: 100px;
}

.main-ttl {
    font-size: 80px;
    font-weight: 800;
}

.sub-tl {
    font-size: 1.2em;
    padding: 10px;
}

body {
    font-size: 1.2em;
    display: flex;
    background-color: #f9f03a;
    flex-direction: column;
    padding: 20px;
    min-height: 100vh;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
}

.top {
    display: flex;
    flex: 1;
}

.box {
    background-color: #0a0616;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 603px;
    width: 450px;
    border: 1px solid black;
    padding: 5px;
    margin-right: 50px;
    margin-top: 80px;
    flex-shrink: 0;
}

.screen {
    display: flex;
    color: white;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 50px;
    font-weight: 10;
    background-color: #331650;
    box-sizing: border-box;
    height: 145px;  
    border: 1px solid black;
    margin-bottom: 5px;
    flex-shrink: 0;
}

.buttons {
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
}

.btn {
    color: white;
    border-radius: 10px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(420px / 4);
    height: calc(420px / 5);
    aspect-ratio: 1;
    background-color: #281141;
    border: 1px solid black;
    box-sizing: border-box;
}

.btn:hover {
    font-size: 30px;
    background-color: rgba(255,255,255,0.2);
}

.eql {
    flex: 1;
}

.eql:hover {
    background-color: rgb(73, 255, 73,0.8);
}

.clr:hover {
    background-color: rgb(255, 53, 53);
}

.optr:hover {
    background-color: rgb(249, 240, 58,0.8);

}


